* {
  box-sizing: border-box;
}

.App {
  background-color: teal;
  width: 100vw;
  height: 100vh;
  padding: 0 2vh;
}

.dice-set {
  width: 100%;
  background-color: seagreen;
}

.dice-set .dice-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dice-menu .die-container {
  width: 30%;
  text-align: center;
}
