* {
  box-sizing: border-box;
}

button {
  font-size: 1rem;
}

.App {
  width: 100vw;
  height: 100vh;
  padding: 0 2vh;
}

.dice-set {
  position: relative;
  width: 100%;
  padding: 1rem;
}

.dice-set:not(:last-child) {
  margin-bottom: 1rem;
}

.dice-set .dice-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.dice-set .dice-menu .count {
  width: 100%;
  margin-bottom: 0.5rem;
}

.dice-set .drop-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 1rem;
}

.dice-menu .die-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 33%;
  text-align: center;
}

.dice-menu .die-container .die-control {
  font-size: 1.2rem;
}

.dice-set .results {
  text-align: center;
}
